{% extends 'users/base.html' %}

{% block style %}
    <style>
        up.h1 {
            text-align: center;
            color: #606468;
            font-family: 'Open Sans', sans-serif;
             font-size: 50px;
        }
        a {
            display: inline-block;
            background: #ea4c88;
            color: #606468;
            border: 0;
            border-radius: 4px;
            text-align: center;
            padding: 20px 30px;
            line-height: 1;
            text-decoration: none;
        }
        a:hover {
          background: #c7c5c5;
          color: #313030;
        }
        .a2 {
            margin-left: 1em;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;

        }
        body {
              background-color: #2c3338;
              color: #606468;
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              font-size: 0.875rem;
              font-weight: 400;
              height: 100%;
              line-height: 1.5;
              margin: 0;
              min-height: 100vh;
            }
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #2c3338;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
        }
        .me-2 {
            margin-right: .5rem!important;
        }
    </style>
{% endblock style %}

{% block content %}
    <br>
    <div class="up" align="center">
    {% if user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            <h1>Welcome {{ user.username }}!</h1>
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            <h1>Welcome !</h1>
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <body>
<div class="container" align=>
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="button" class="btn btn-primary px-4" value="Save Changes">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endif %}
    <br>
    <div class="center">
        {% if user.is_authenticated %}
            <a class="a2" href="{% url 'logout' %} ">Logout</a>
        {% else %}
            <a class="a1" href="{% url  'register' %}">Sign Up</a>
            <a class="a2" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
{% endblock content %}
